
<ul>
    <li>
        <a href='{{ url_for("index") }}'>Главная</a>
    </li>
    <li>
        <a href='{{ url_for("doctors") }}'>Доктора</a>
    </li>
    <li>
        <a href='{{ url_for("service") }}'>Услуги</a>
    </li>
    <li>
        <a href='{{ url_for("registration") }}'>Регистрация</a>
    </li>
    {% if current_user.is_authenticated %}
    <li>
        <a href='#'>Выйти</a>
    </li>
    {% else %}
    <li>
        <a href='{{ url_for("login") }}'>Войти</a>
    </li>
    {% endif %}
</ul>