{% extends "base.html" %}

{% block title_page %} Данные доктора {% endblock %}

{% block h1_title %} Личные данные доктора Иванова {% endblock %}

{% block content %}
{{ super() }}
<p><p>Фамилия {{ doctor.second_name }}</p>
<p>Имя {{ doctor.first_name }}</p> <p>Отчество {{ doctor.last_name }}</p>
<p> Телефон {{ doctor.telephone  }}</p> <p>Емайл {{ doctor.email }} </p>
<p>Специальность {{doctor.profile }}</p><p> Опыт {{ doctor.experience }}</p>


</p>
{% include "include/menu_doctor.html" %}


{% endblock %}